@model IEnumerable<CinemaBookingSystem.Models.Movie>

    @{
    ViewData["Title"] = "Home";
    }

    <h2>Movies</h2>
    <p>Information about Cinema</p>
    <p>Bla bla bla stuff stuff</p>
    <div class="row">
        <div class="col-md-4">
                <div>
                    <a asp-action="Index">Movie List</a>
                </div>
        </div>
    </div>