@model IEnumerable<CinemaBookingSystem.Models.Movie>

    @{
    ViewData["Title"] = "Home";
    }

    <div class="jumbotron-fluid">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">This is a simple cinema owned by Berra.</p>
        <hr class="my-4">
        <img src="~/images/empty-cinema.jpg" height=450px width=auto/>
        <p>It uses stuff for movies and things.</p>
        <p class="lead">
            <a asp-action="Index" class="btn btn-primary btn-lg">Go to Movie list</a>
        </p>
    </div>